################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AttachmentMover/.vs/AttachmentMover/v17
/AttachmentMover/bin/Debug
/AttachmentMover/obj/Debug
/AttachmentMover/packages
/Test Location
/PowerApps.AttachmentMover/.vs/AttachmentMover/v17
/PowerApps.AttachmentMover/bin/Debug
/PowerApps.AttachmentMover/obj/Debug
/PowerApps.AttachmentMover/packages
